<form [formGroup] ="insertForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="Product_Name">Product name</label>
        <input type="text" class="form-control" id="Product_Name" placeholder="Enter product name" formControlName="Product_Name">
      </div>
      <div class="form-group">
        <label for="Brand">Brand</label>
        <input type="text" class="form-control" id="Brand" placeholder="Enter brand name" formControlName="Brand">
      </div>
      <div class="form-group">
        <label for="Type">Type</label>
        <select class="form-control" id="type" formControlName="Type">
          <option>Smartphone</option>
          <option>Tablet</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Color">Color</label>
        <input type="text" class="form-control" id="Color" placeholder="Enter color" formControlName="Color">
      </div>
      <div class="form-group">
        <label for="Ram">Ram</label>
        <input type="number" class="form-control" id="Ram" placeholder="Enter ram" formControlName="Ram">
      </div>
      <div class="form-group">
        <label for="Memory">Memory</label>
        <input type="number" class="form-control" id="Memory" placeholder="Enter memory" formControlName="Memory">
      </div>
      <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" class="form-control" id="Price" placeholder="Enter price" formControlName ="Price">
      </div>
      <div class="form-group">
        <label for="Warranty">Warranty</label>
        <input type="number" class="form-control" id="Warranty" placeholder="Enter warranty" formControlName="Warranty">
      </div>
      <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input type="number" class="form-control" id="Quantity" placeholder="Enter quantity" formControlName="Quantity">
      </div>
      <div class="form-group">
        <label for="Status">Type</label>
        <select class="form-control" id="Status" formControlName="Status">
          <option>Available</option>
          <option>Upcoming</option>
          <option>Sold out</option>
        </select>
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="!insertForm.valid">Submit</button>
    <button type="button" class="btn btn-primary ml-3" routerLink="/home/tablenodejs">Cancel</button>
  </form>