<ul class="navbar-nav sidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Tables
    </div>
    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" routerLink="tablefirebase">
            <i class="fas fa-fw fa-table"></i>
            <span>Table Firebase</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="tablenodejs">
            <i class="fas fa-fw fa-table"></i>
            <span>Table Nodejs</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>